.welcome {
    position: relative;
    font-weight: 900;
    font-size: 3.5em;
  }
  body{
    box-shadow: inset;
    text-align: center;
    font-family: 'Thasadith', sans-serif;

}
.connectbtn {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .connectbtn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.wrap-layer{
    position: relative;
 }
 .text-layer{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    padding: 30px;
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    pointer-events: none;
 }
 .background-layer {
    width: 25%;
    height: 25%;
 }