
[class*="col-"] {
    float: left;
    padding: 15px;
  
  }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    text-align: center;
    font-family: 'Thasadith', sans-serif;

}
 footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
.background-layer{
    height: 450px;
    width: 450px;
}
tr {
    padding: 10px;
}
input[value]{
    padding: 15px;
    margin: 15px;
    color: rgba(0, 0, 0, 0.452);
    border-radius: 55px;
}
form{
    margin: 15px;
}