* {
    box-sizing: border-box;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .animate-bottom {width: 500px;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .animate-bottom {width: 500px;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .animate-bottom {width: 700px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .animate-bottom {width: 900px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .animate-bottom {width: 1050px;}
  }
  
  [class*="col-"] {
      float: left;
      padding: 15px;
    
    }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  body{
      text-align: center;
      font-family: 'Thasadith', sans-serif;
      font-size: large;
      font-weight: 800;
      background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    
  }
  .app-container{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
  footer {
    display: flex;
    height: 50px;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content {
    display: flex;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 17px;
    background-color: white;
    justify-content: space-around;
  }
  .chatbuttons{
    border: black;
    border-radius: 55px;
    background-color: black;
    color: white;
    padding: 15px;
  }
  .chatbuttons:hover{
    background-color: rgba(43, 42, 42, 0.329);
    cursor: pointer;
  }
  input{
    border: white;
    border-radius: 10px;
  }
  .menu1, .menu2, .menu3{
    width: 35px;
    height: 5px;
    background-color: rgb(202, 202, 202);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .menu1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .menu2 {opacity: 0;}
  
  .change .menu3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .headerbuttons{
    display: flex;
  }
  .headbuttons:active{
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 25px;
    color: ghostwhite;
  }
  .sidebar{
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 25px;
  }
  .main{
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 25px;
  }
   #myLinks {
    text-decoration: none;
    list-style: none;
    display: none;
   }
   #myLinks a{
    padding: 10px;
    
   }
   