* {
    box-sizing: border-box;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .animate-bottom {width: 500px;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .animate-bottom {width: 500px;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .animate-bottom {width: 700px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .animate-bottom {width: 900px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .animate-bottom {width: 1050px;}
  }
  
  [class*="col-"] {
      float: left;
      padding: 15px;
    
    }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  body{
      text-align: center;
      font-family: 'Thasadith', sans-serif;
      font-size: large;
      font-weight: 800;
      background-color: rgb(106, 218, 218);
    
  }
  .app-container{
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  footer {
    display: flex;
    height:50px;
    background-color: #00b1dd5b;
    border-radius: 25px;
    align-items: center;
    justify-content: space-around;
    box-shadow: #00ccff;
  }
  .content {
    display: flex;
    padding: 20px;
    padding-bottom: 50px;
    border-radius: 17px;
    border: 3px solid white;
    justify-content: space-evenly;
  }
  .material-icons{
    border-radius: 55px;
    background-color: #33d0f78e;
    size: 50px;
    color: white;
  }
  .material-icons:hover{
    background-color: rgba(43, 42, 42, 0.329);
    cursor: pointer;
  }
  input, textarea{
    size: 100px;
    border:
    white;
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 10px;
    height: 25px;
  }
  input::placeholder{
    color: white;
  }
  .menu1, .menu2, .menu3{
    width: 23px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .menu1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .menu2 {opacity: 0;}
  
  .change .menu3 {
    transform: rotate(45deg) translate(-9px, -6px);
  }
  .headerbuttons{
    display: flex;
    flex-direction: column;
  }
  .headbuttons:active{
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 25px;
    color: ghostwhite;
  }
  .sidebar{
    display: flex;
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 25px;
    flex-direction: column;
  }
  .main{
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 25px;
  }
   #myLinks {
    text-decoration: none;
    list-style: none;
    display: none;
    background-color: rgba(51, 51, 51, 0.219);
    border-radius: 25px;
   }
   #myLinks a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    padding: 15px;
    margin: 25px;
    font-size: medium;
   }
   #myLinks a:hover{
    font-size: large;
    transition: 0.4s;
   }
   .menu {
    display: grid;
    /*background-color: rgb(219, 219, 219);*/
   }
   #friend{
    padding: 25px;
   }
   #friend:hover{
    background-color: aliceblue;
    border-radius: 15px;
   }
   button{
    border-color: rgba(199, 253, 255, 0);
    border-radius: 15px;
    background-color: aliceblue;
    color: #000000;
    text-align: center;
    padding: 5px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }