* {
    box-sizing: border-box;
  }
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .animate-bottom {width: 500px;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .animate-bottom {width: 500px;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .animate-bottom {width: 700px;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .animate-bottom {width: 900px;}
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .animate-bottom {width: 1050px;}
  }
  
  [class*="col-"] {
      float: left;
      padding: 15px;
    
    }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  body{
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
      font-family: 'Thasadith', sans-serif;
      background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    
  }
   footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
  }
  .color-container{
    text-align: center;
    float: initial;
  }
  .color-container div{
    padding: 5px;
  }
  .color-aqua {
    padding: 5px;
    background-color: rgb(23, 231, 231);
    height: 50px;
    width: 50px;
  }
  .color-fuschia {
    padding: 5px;
    background-color: rgb(207, 15, 182);
    height: 50px;
    width: 50px;
  }
  .color-lime {
    padding: 5px;
    background-color: rgb(63, 184, 89);
    height: 50px;
    width: 50px;
  }
  .color-sunflower {
    padding: 5px;
    background-color: rgb(236, 222, 15);
    height: 50px;
    width: 50px;
  }
  .color-lightmoon {
    padding: 5px;
    background-color: rgb(83, 99, 99);
    height: 50px;
    width: 50px;
  }

