
[class*="col-"] {
    float: left;
    padding: 15px;
  
  }
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

}
 footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
.background-layer{
    height: 450px;
    width: 450px;
}
tr {
    padding: 10px;
}
#placeholder{
    color: rgba(0, 0, 0, 0.452);
}
form{
    margin: 15px;
}
.animate-bottom{
  background-color: #ffffff;
    margin: 15px;
    border: 2px black solid;
    border-radius: 55px;
    height: 450px;
    width: 450px;
    border-radius:55px;
}
input{
    padding: 15px;
    margin: 15px;
    color: rgba(138, 138, 138, 0.452);
    border-radius: 55px;
    border-color: #c4c4c477;
}
.submit{
  background-color: #ffffff;
    width: 45%;
}
.submit:hover{
    background-color: #e6e6e6;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #cf7a7a 0%, #616966 19%, #2d7688 42%, #694e9b 79%, #356a77 100%);
  }
  #myDiv {
    position: relative;
    display: none;
    text-align: center;
  }